
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/voting.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/sort.js"></script>
<script src="/public/js/savePost.js"></script>

</body>
</html>