<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="reddit: the front page of the internet" />

  <title>
    <% if(typeof  title === "undefined"){%>
      Reddit Clone
    <%}else {%>
      <%=title%>
    <%}%>
  </title>

  <link
    rel="shortcut icon"
    type="image/png"
    href="/public/images/favicon.ico"
  />

  <link rel="stylesheet" href="/public/css/all.min.css" />
  <script src="/public/js/all.min.js"></script>

  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />

  <script src="/public/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/cssgram.min.css" />
</head>
