<ul class="list-group mb-3">
  <h6 style="color: #0d0d0d; padding-bottom: 5px">Posts Sorted by <span id="sorted-by"><%=sort.charAt(0).toUpperCase() + sort.slice(1);%></span></h6>

  <li class="list-group-item" id="l1">
    <a href="?sort=top" class="sort-posts">Top</a>
  </li>

  <li class="list-group-item" id="l2">
    <a href="?sort=old" class="sort-posts">Old Posts</a>
  </li>

  <li class="list-group-item" id="l3">
    <a href="?sort=new" class="sort-posts">New Posts</a>
  </li>

  <li class="list-group-item" id="l4">
    <a href="?sort=views" class="sort-posts">Views Count</a>
  </li>

  <li class="list-group-item" id="l5">
    <a href="?sort=comments_count" class="sort-posts">Comments Count</a>
  </li>
</ul>
